p.position-absolute.float-end {
    margin-left: 900px!important;
    margin-top: 181px;
}
button.position-absolute.bg-white {
    margin-left: 965px;
    margin-top: 261px;
}
p.float-start.p-2 {
    margin-top: -13px;
}
.p-3.rounded.btn-square.overflow-y-auto {
    border-style: dotted;
    border-color:darkgray;
}
#exampleModal4 {
	display: 'flex';
	justify-content: 'center';
	align-items: 'center';
}
.modal-dialog {
    height: 60vh !important;
    display: flex;
  }
  .modal-content {
    margin: auto !important;
    height: fit-content !important;
  }
  h5#exampleModalLabel {
    margin-left: 62px;
    text-align: center;
    font-size: 30px;
    
}
button.btn.btn-secondary {
    margin-right: 107px;
    position: absolute;
}
button.btn.btn-primary {
    margin-right: 246px;
}
.modal-body1 {
    height: 260px;
   
}
img.text-center.w-25 {
    
    margin-left: 184px;
}
p.data.mt-2.fs-1 {
    margin-left: 129px;
}