p.position-absolute.float-end {
    margin-left: 900px!important;
    margin-top: 181px;
}
button.position-absolute.bg-white {
    margin-left: 965px;
    margin-top: 261px;
}
p.float-start.p-2 {
    margin-top: -13px;
}
.p-3.rounded.btn-square.overflow-y-auto {
    border-style: dotted;
    border-color:darkgray;
}
